<p style="color: green"><%= notice %></p>
<%= link_to 'Back', root_path, class: 'back-link' %>

<h1>Announcements</h1>

<div id="announcements">
  <% @announcements.each do |announcement| %>
    <%= render announcement %>
    <p>
      <%= link_to "Show this announcements", announcement %>
    </p>
  <% end %>
</div>

<%= link_to "New announcements", new_announcement_path %>
