<body>

<div class="centered-content">
  <h1>Event Attendance</h1>
  
  <table class="table member-table" summary="Event attendance list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Members</th>
        <th>Add Member</th>
      </tr>
    </thead>
    <tbody>
      <% @events.order(start_date: :desc).each do |event| %>
        <tr>
          <td><%= event.start_date.strftime("%B %d, %Y") %></td>
          <td><%= event.name %></td>
          <td>
            <% event_members = event.events_members %>
            <% if event_members.any? %>
              <ul>
                <% event_members.each do |event_member| %>
                  <li><%= event_member.member.name %></li>
                <% end %>
              </ul>
            <% else %>
              No attendees yet
            <% end %>
          </td>
          <td>
            <%= form_with(model: EventsMember.new, url: events_members_path, method: :post) do |form| %>
              <%= form.hidden_field :event_id, value: event.id %>
              <div class="form-group">
                <%= form.label :member_id, "Member" %>
                <%= form.collection_select :member_id, Member.all, :id, :name, prompt: "Select Member" %>
              </div>
              <%= form.submit "Add Member", class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= link_to "Back to Members", members_path, class: "back-link" %>
    <%= link_to "Back to Events", events_path,class: "back-link"%>


    <%= link_to 'Export to Excel', events_export_path, class: "back-link"%>

  <br>

  <h2>Remove Member from Event</h2>
  <%= form_with(url: remove_member_from_event_events_members_path, method: :delete) do |form| %>
    <div class="form-group">
      <%= form.label :event_id, "Event" %>
      <%= form.collection_select :event_id, @events, :id, :name, prompt: "Select Event" %>
    </div>
    <div class="form-group">
      <%= form.label :member_id, "Member" %>
      <%= form.collection_select :member_id, @members, :id, :name, prompt: "Select Member" %>
    </div>
    <%= form.submit "Remove Member", class: "btn btn-danger" %>
  <% end %>
</div>

</body>