<!-- Navbar Removed-->

<br>
<%# <%= link_to 'Back home', root_path, class: 'btn btn-success'
&nbsp; %>
<%= link_to 'Back to event', event_url, class: 'btn btn-success' %>

<br>
<br>

<div class="card bg-hunter-green" >
    <p>
    <strong>Event Link:</strong>
    <%= link_to @event.link, @event.link, style: "color: lightblue;" %>
  </p>

  <p>
    <strong>Event Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Event Start:</strong>
    <% if @event.start_date.present? %>
      <%= @event.start_date.strftime("%A, %d %B %Y at %I:%M %p") %>
    <% else %>
      <em>No start date available</em>
    <% end %>
  </p>
</div>
<%= form_with(method: :post) do |form| %>
    <% if @event.errors.any? %>
      <div>
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this member from being saved:</h2>
        <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<div class="card event-card" style="text-align: center;">
    <table class="table member-table" summary="Member list">
      <tr>
        <th>Choose</th>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
        <th>Dues Paid</th>
      </tr>
    <% @members.each do |member|  %> <%# Members that were not in the meeting %>
      <% if member.name != "Admin" %>
        <tr>
            <td><%= check_box("member_ids", "ids", {:multiple => true}, member.id, nil) %></td>
            <td><%= member.name %></td>
            <td><%= member.email %></td>
            <td><%= member.points %></td>

            <td><%= (member.dues_paid) ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
    <div class="form-group">
      <%= form.submit class: 'form-submit' %>
    </div>
<% end %>
</div>