<!DOCTYPE html>
<html>

<head>
  <title>H.E.A.T. Events</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>

  <!-- Navbar Removed -->

  <h1>Events</h1>

  <div id="events">
    <% @events.each do |event| %>
      <div class="event">
        <%= render event %>

        <!-- Shows editing link if user is Admin/Officer -->
        <% if is_officer_or_admin?(session) && is_officer_or_admin_view?(session) %>
          <p>
            <%= link_to "Show this event", event, class: 'event-link' %>
            &nbsp;
            <%= link_to "Show QR Code", qr_code_event_path(event), class: 'btn btn-info', target: '_blank' %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Shows login prompt if the user doesn't have valid permissions -->
  <% if is_guest_or_guest_view?(session) %>
    <%= link_to 'Login to manage events', login_manual_path, class: 'auth-link' %>
  <% end %>

  <!-- Shows new event link if user is Admin/Officer  -->
  <% if is_officer_or_admin?(session) && is_officer_or_admin_view?(session) %>
    <%= link_to "New event", new_event_path, class: 'new-event-link' %>
  <% end %>

  <% if is_officer_or_admin?(session) && is_officer_or_admin_view?(session) %>
    <%= button_to "Clear All Events", destroy_all_events_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "clearEventsButton" %>
  <% end %>


</body>
</html>
