<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Details - H.E.A.T.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
</head>
<body>

  <!-- Navbar Removed -->
  

  <!-- Event Details -->
  <div class="centered-content">
    <h2>Event Details</h2>
    <div class="event-details">
      <%= render @event %>
    </div>


    <!-- Event Actions -->
    <div class="event-actions" style="margin-top: 20px;">
      <%= link_to "Edit this event", edit_event_path(@event), class: "edit-link" %> |
      <%= link_to "Back to events", events_path, class: "back-link" %> |
      <%# Can implement this last after doing event attendance %>
      <%= link_to "Add Members", add_members_event_path(@event) , class: "edit-link"%> |
      <%= link_to "Remove Members", remove_members_event_path(@event), class: "edit-link" %>
      <%= button_to "Destroy this event", @event, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "destroy-button" %>
      
    </div>
  </div>

  <!-- Footer Removed and placed in application.html.erb -->

</body>
</html>
