<!DOCTYPE html>
<html>

<head>
  <title>H.E.A.T.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Styles -->
  <style>
    body {
      background-color: #FFF8E7 !important; /* Hunter Green as background color */
      color: #CABA9C; /* Dark Green for text */
    }

    .navbar {
      background-color: #102820 !important; /* Dark Green for navbar background */
    }

    .navbar-brand, .nav-link {
      color: #CABA9C !important; /* Khaki for navbar links */
    }

    .btn-primary {
      background-color: #102820 !important; /* Dark Green for primary button */
      border-color: #102820 !important;
      color: #CABA9C !important; /* Khaki for text */
    }

    .btn-primary:hover {
      background-color: #4C6444 !important; /* Hunter Green on hover */
      border-color: #4C6444 !important;
    }

    .btn-success {
      background-color: #CABA9C !important; /* Khaki for success button */
      border-color: #102820 !important; /* Dark Green border */
      color: #102820 !important; /* Dark Green text */
    }

    .btn-success:hover {
      background-color: #f8f9fa !important; /* Light hover color for contrast */
      color: #102820 !important; /* Dark Green text */
    }

    h1, h2 {
      color: #CABA9C; /* Dark Green for headings */
    }

    #about-organization {
      color: #CABA9C; /* Dark Green for the about section */
    }

    /* Additional styles for the audio player */
    #audioPlayer {
      margin-top: 20px;
      width: 400px;
      text-align: left;
    }

    .photo-collage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    .collage-image {
      width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
       <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("HeatAppLogo.png", alt: "Logo",  width: "80", height: "80", class: "d-inline-block align-top") %>
    <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Links", links_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Members", members_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Events", events_path, class: "nav-link" %>
          </li>
          <% if is_officer_or_admin?(session) %>
            <li class="nav-item">
              <%= link_to "Event Attendance", events_members_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Leaderboard", "/leaderboard", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Calendar", "/calendars", class: "nav-link" %>
          </li>

        </ul>
      </div>
      <div class="ml-auto">
        <% if current_user %>
        <div style="width: 75px; height: 75px; border-radius: 50%; overflow: hidden;">
          <%= link_to(check_member_attendance_path, onclick: "showEventsAndMeetings()") do %>
  <%= image_tag(current_user.avatar_url, style: "width: 100%; height: auto; border-radius: 50%; margin-bottom: 5px;") %>
<% end %>

        </div>
        <%= button_to "Logout", destroy_user_session_path(redirect_to: root_path), data: { turbo: "false" }, method: :delete, class: "btn btn-success" %>
        <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
        <% end %>
        <!-- Add the new button for reading the content -->
      </div>
    </div>
  </nav>

   <!-- About Section-->
  <section id="about-organization" style="background-color: #4C6444; padding: 30px; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); max-width: 800px; margin: 20px auto;">
    <h2 style="text-align: center; color: #102820;">Texas A&M H.E.A.T.</h2>
    <div style="background-color: #CABA9C; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
      <%= image_tag("HeatMainPicture.png", alt: "", class: "heat-home-pic", height: "504px", width: "672px") %>
      <br>
    </div>
    <p><strong>Abbreviation(s):</strong> H.E.A.T.</p>
    <p>Human Environmental Animal Team</p>
    <p>Howdy! H.E.A.T. is a non-profit 501(c)(3) student service organization dedicated to improving humanitarian, environmental, and animal welfare issues through positive activism.</p>
    
    <p>“H.E.A.T. never demonizes, H.E.A.T. always rises.”</p>

    <div style="background-color: #CABA9C; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
      <div class="photo-collage">
        <%= image_tag("social2.jpg", alt: "Photo 1", class: "collage-image") %>
        <%= image_tag("human1.jpg", alt: "Photo 2", class: "collage-image") %>
        <%= image_tag("streetclean3.jpg", alt: "Photo 3", class: "collage-image") %>
        <%= image_tag("animal1.jpg", alt: "Photo 4", class: "collage-image") %>
      </div>
    </div>
    
    <p>Even as our chapter continues to grow, there remains a place for everyone in H.E.A.T. at Texas A&M University! H.E.A.T. is a dedicated group focused on creating positive change through
        volunteering and peer education. Members engage in meaningful projects, build strong
        friendships, connect with the Aggie community, and make a real difference in other's lives—all
        while having fun! Some of our favorite projects include building ramps for those in need, working
        at food banks, cleaning up local and beach litter, and volunteering with various animal rescues
        and sanctuaries.
    </p>
    
    <p><strong>Bottom-up organization</strong> </p>
    <p>
        At H.E.A.T., we want to volunteer at places that matter to YOU! We encourage initiative and are
        here to support your passions. Whether you've always dreamed of cleaning a local stream or
        helping out at a donkey sanctuary 45 minutes away—let's make it happen!
    </p>
  
    
    <h3>JOIN US!</h3>
    <p>
        Membership Dues: $20/semester for new members, $15/semester for returning members
        We accept members the first quarter of each semester.
        Meeting locations will always be announced on our Instagram and GroupMe.
        Have a Question? DM us on Instagram or send us an email (or include a button that says
        CONTACT US?)
        
      </p>
  </div>
</section>


</body>

</html>