<%= stylesheet_link_tag "links", media: "all", "data-turbo-track": "reload" %>
<%= link_to 'Back', root_path %>

<h1>Links</h1>

<div id="links">
  <% @links.each do |link| %>
    <div style="margin-bottom: 20px;">
      <%= render link %>

      <!-- Shows editing link if the user is Officer/Admin and in Officer/Admin view mode -->
      <% if is_officer_or_admin? && is_officer_or_admin_view? %>
        <p>
          <%= link_to "Show this link", link %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>

<!-- Show 'Login to manage links' only if the user is not authenticated and in guest view mode -->
<% if is_guest_or_guest_view? %>
      <%= link_to 'Login to manage links', login_manual_path, class: "auth-link" %>
<% end %>

<!-- Show 'New link' button only if authenticated or in 'admin' view mode -->
<% if is_officer_or_admin? && is_officer_or_admin_view? %>
  <%= link_to "New link", new_link_path, class: "admin-link" %>
<% end %>

<!-- Shows view toggle if the user is Admin/Officer -->
<% if is_officer_or_admin? %>
  <p>
    <%= link_to 'Toggle View Mode', toggle_view_mode_path, class: "toggle-link" %>
  </p>
<% end %>


