<!-- app/views/links/show.html.erb -->
<%= stylesheet_link_tag "links", media: "all", "data-turbo-track": "reload" %>
<%= render @link %>

<div style = "margin-top: 20px;">
  <%= link_to "Edit this link", edit_link_path(@link), class: "edit-link"%> |
  <%= link_to "Back to links", links_path, class: "back-link"%>
  <%= button_to "Destroy this link", @link, method: :delete, class: "destroy-button" %>
</div>