<!DOCTYPE html>
<html>

<head>
  <title>HEAT</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>

    <script>
  function showEventsAndMeetings() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/check_member_attendance', true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var data = JSON.parse(xhr.responseText);
          if (data.attended) {
            document.querySelector('.meetings-attended').style.display = 'block';
            document.querySelector('.events-attended').style.display = 'block';
          } else {
            alert('This member has not attended any meetings or events yet.');
          }
        } else {
          alert('An error occurred while fetching member attendance.');
        }
      }
    };
    xhr.send();
  }
</script>

  <div class="container mt-4">
    <!-- Authotization message -->
    <div>
      <h2>Must enter password to gain access</h2>
    </div></br></br>

    <!-- Admin Login button -->
    <div>
      <h2 class="mb-3">Admin Login</h2>
      <%= form_with url: login_path, local: true do |form| %>
        <div class="form-group">
          <%= form.label :password, style: "color: black;" %> <br>
          <%= form.password_field :password %>
        </div>
        <div>
          <%= form.submit "Submit", style: "margin-bottom: 20px;" %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <p class="text-danger"><%= flash[:alert] %></p>
      <% end %>
    </div>
  </div>

</body>

</html>