<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless photo.persisted? %>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>  <!-- Add file upload field -->
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :alt_text, style: "display: block", class: 'custom-label' %>
    <%= form.text_field :alt_text %>
  </div>

  <div class="form-field">
    <%= form.label :description, style: "display: block", class: 'custom-label' %>
    <%= form.text_field :description %>
  </div>

  <div class="form-field" style="margin-bottom: 15px;">
    <%= form.label :home_page, class: 'custom-label' %>
    <%= form.check_box :home_page, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
