<!DOCTYPE html>
<html>
  <head>
  <center>
    <title>HEAT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <body style="background-color:#C0C0C0;">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      .flash-general  { border-radius: 2px; font-family: "Georgia"; font-weight: bold; }
      .flash__alert   { color: black; background-color: #CABA9C;}
      .flash__notice  { color: blue; }
      .flash__success { color: green; }
    </style>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
      <%# flash.discard() is meant to make sure it only is displayed once.%>
      <%# Noticed it would duplicate for notice so doing it for flash notices for now %>
        <section class="flash flash-general flash__<%= key %>"><%=(key != "notice") ? value.html_safe : flash.discard(value) %></section>
      <% end -%>
    <% end %>
    <%= yield %>
     </center>
  </body>
</html>
