<div class="form-container">
  <%= form_with(model: member, local: true) do |form| %>
    <% if member.errors.any? %>
      <div>
        <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>
        <ul>
          <% member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= form.label :name, class: 'custom-label' %>
      <%= form.text_field :name, required: true, class: 'form-control' %>
    </div>

    <!-- Points have a hard limit of 999,999,999 -->
    <%# Also don't want to let them change points directly since it needs to correlate with meetings %>
    <div class="form-field">
      <%= form.label :points, class: 'custom-label' %>
      <%= form.text_field :points, class: 'form-control', disabled: true, maxlength: 9, oninput: "this.value=this.value.replace(/[^0-9]/g,'');" %>
    </div>

    <%# Only be able to access the email field for the creation of the member %>
    <div class="form-field">
      <%= form.label :email, class: 'custom-label' %>
      <%= form.text_field :email, required: true, type: "email", disabled: (member.email.present? && member.id.present?), class: 'form-control' %>
    </div>
    <div class="form-field">
      <%= form.label :dues, class: 'custom-label' %>
      <%= form.check_box :dues_paid, class: 'form-control' %>
    </div>
    <br>
    <div class="form-field">
      <%= form.label :position, class: 'custom-label' %>
      <!-- Defaults to current position if editing and to Member if creating a new member -->
      <%= form.select :position, options_for_select([['Member', 'Member'], ['Officer', 'Officer'],
        ['Admin', 'Admin']], member.position || 'Member'), class: 'form-control' %>
    </div>
    <br>
    <div class="form-field">
      <%= form.submit 'Save Member', class: 'fbtm btn-primary' %>
    </div>
  <% end %>
</div>

