<body>

  <div class="centered-content">
    <p class="notice"><%= notice %></p>

    <div class="event-details">
      <%= render @member %>
    </div>

    <div class="event-actions" style="margin-top: 20px;">
      <%= link_to "Edit this member", edit_member_path(@member), class: "edit-link" %> |
      <%= link_to "Back to members", members_path, class: "back-link" %>
      <%= button_to "Destroy this member", @member, method: :delete, data: { turbo_confirm: "Are you sure?" },class: "destroy-button" %>
    </div>


    <div class="events-attended">
      <h3>Events Attended</h3>
      <% if @member.events.any? %>
        <ul>
          <% @member.events.each do |event| %>
            <li><%= event.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p>This member has not attended any events yet.</p>
      <% end %>
    </div>
  </div>

</body>
